//Main colors
$main-color: #FFFFFF;
$background-color: #F6F6F6;
$navbar-color: #E24848;

//font-colors
$main-textcolor: #555555;
$resalted-textcolor: #CD481E;
$navbar-textcolor: #EDEDED;
$navbar-selectedtextcolor: #FFFFFF;


//Hover effects colors
$navbar-hovercolor: #B72424;

//Fonts
$fonts: Roboto, Helvetica, sans-serif;

//Navbar option lines
$navbar-linescolor: #B72424;