<nav class="navBar">
    <div class="heroDetails">
        <div class="imageContainer">
            <img src="../../assets/img/user.png" alt="" class="logo" width="100" height="100">
        </div>
        <div class="heroNameContainer">
            <p class="heroName">Jeremy Guillén Durán</p>
        </div>
        <div class="heroOcupationContainer">
            <p class="hero">Software Developer</p>
        </div>
    </div>
    <div class="navOptions">
        <ul class="list">
            <div class="listItem selected"><a href="#">About me</a></div>
            <div class="listItem"><a href="#">Projects</a></div>
            <div class="listItem lastItem"><a href="#">Contact</a></div>
            <div class="listItem lastItem"><a href="#">My CV</a></div>
        </ul>
    </div>
    <div class="iconsContainer">
        <div class="icon"><img src="../../assets/img/sobre.svg" width="40" height="40" alt=""></div>
        <div class="icon"><img src="../../assets/img/logo-de-facebook.svg" width="40" height="40" alt=""></div>
        <div class="icon"><img src="../../assets/img/logotipo-de-github.svg" width="40" height="40" alt=""></div>
        <div class="icon"><img src="../../assets/img/logotipo-de-linkedin.svg" width="40" height="40" alt="" ></div>
    </div>
</nav>